In [1]:
import pandas as pd
import numpy as np

ratings = pd.read_csv('ratings.csv')

ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [2]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [3]:
movies = pd.read_csv('movies.csv')

movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [5]:
data = pd.merge(movies,ratings,how='inner',on='movieId')
data.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [6]:
data = data.drop(['genres','timestamp'],axis=1)
data.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [7]:
userRatings = data.pivot_table(index=['userId'],columns=['title'],values='rating')
userRatings.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
userRatings = userRatings.dropna(thresh=10, axis=1)
userRatings = userRatings.fillna(0,axis=1)

userRatings.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
%time corrMatrix = userRatings.corr(method='pearson')
corrMatrix.head()

Wall time: 18 s

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,0.063117,-0.023768,0.143482,0.011998,0.087931,0.224052,0.034223,0.009277,0.008331,...,0.017477,0.032470,0.134701,0.153158,0.101301,0.049897,0.003233,0.187953,0.062174,0.353194
(500) Days of Summer (2009),0.063117,1.000000,0.142471,0.273989,0.193960,0.148903,0.142141,0.159756,0.135486,0.200135,...,0.374515,0.178655,0.068407,0.414585,0.355723,0.252226,0.216007,0.053614,0.241092,0.125905
10 Cloverfield Lane (2016),-0.023768,0.142471,1.000000,-0.005799,0.112396,0.006139,-0.016835,0.031704,-0.024275,0.272943,...,0.242663,0.099059,-0.023477,0.272347,0.241751,0.195054,0.319371,0.177846,0.096638,0.002733
10 Things I Hate About You (1999),0.143482,0.273989,-0.005799,1.000000,0.244670,0.223481,0.211473,0.011784,0.091964,0.043383,...,0.243118,0.104858,0.132460,0.091853,0.158637,0.281934,0.050031,0.121029,0.130813,0.110612
"10,000 BC (2008)",0.011998,0.193960,0.112396,0.244670,1.000000,0.234459,0.119132,0.059187,-0.025882,0.089328,...,0.260261,0.087592,0.094913,0.184521,0.242299,0.240231,0.094773,0.088045,0.203002,0.083518

In [10]:
def get_similar(movie_name,rating):
    similar_ratings = corrMatrix[movie_name]*rating
    similar_ratings = similar_ratings.sort_values(ascending=False)
    similar_50_movies = similar_ratings.index[:50]
    similar_50_movies_ratings = similar_ratings.values[:50]
    dic = {}
    for sim_50_m , sim_50_m_r in zip(similar_50_movies , similar_50_movies_ratings):
        dic[sim_50_m] = sim_50_m_r
    return dic

In [11]:
get_similar("Interstellar (2014)",5)

{'Interstellar (2014)': 5.0,
 'Inception (2010)': 2.706932448290003,
 'Django Unchained (2012)': 2.676647237208827,
 'Edge of Tomorrow (2014)': 2.6490159687727144,
 'Dark Knight Rises, The (2012)': 2.6418684285321143,
 'The Imitation Game (2014)': 2.6183192729411413,
 'Deadpool (2016)': 2.538712092136817,
 'The Martian (2015)': 2.5056891217898536,
 'Avengers, The (2012)': 2.504739697287828,
 'Grand Budapest Hotel, The (2014)': 2.4558961434163047,
 'Guardians of the Galaxy (2014)': 2.4384069635807935,
 'Mad Max: Fury Road (2015)': 2.434159041598975,
 'Whiplash (2014)': 2.4163156892917628,
 'The Revenant (2015)': 2.3860058625491627,
 'Big Hero 6 (2014)': 2.361112124629215,
 'Cloud Atlas (2012)': 2.3222939781673646,
 'Gone Girl (2014)': 2.2990962669485664,
 'Up (2009)': 2.2715558627115957,
 'Ex Machina (2015)': 2.2246439302913927,
 'Iron Man (2008)': 2.181155341192787,
 'Snowpiercer (2013)': 2.1704151500932243,
 'Gravity (2013)': 2.1702569647928076,
 'Prometheus (2012)': 2.114473810523434,
 'Dark Knight, The (2008)': 2.114371519619933,
 'Captain America: The First Avenger (2011)': 2.1038392730609017,
 'The Lego Movie (2014)': 2.089507882414155,
 'Shutter Island (2010)': 2.068404150988627,
 'Life of Pi (2012)': 2.067503717029518,
 'Avengers: Age of Ultron (2015)': 2.04440536086259,
 'Inside Out (2015)': 2.017284939071548,
 '10 Cloverfield Lane (2016)': 2.0159400415586415,
 "World's End, The (2013)": 2.014398587380246,
 'Wolf of Wall Street, The (2013)': 2.0123490755432956,
 'The Hateful Eight (2015)': 1.9972406264360334,
 'Kingsman: The Secret Service (2015)': 1.9878822843812307,
 'Star Wars: Episode VII - The Force Awakens (2015)': 1.9434008786850632,
 'Looper (2012)': 1.9428501095456838,
 'The Hunger Games (2012)': 1.939437529448316,
 'Arrival (2016)': 1.937257953968024,
 'Oblivion (2013)': 1.9058919805942458,
 '21 Jump Street (2012)': 1.902274368091731,
 'Captain America: The Winter Soldier (2014)': 1.8983537520081875,
 'Birdman: Or (The Unexpected Virtue of Ignorance) (2014)': 1.8850992149429944,
 'Elysium (2013)': 1.879017150306632,
 'Inglourious Basterds (2009)': 1.8599016137527544,
 'Social Network, The (2010)': 1.8544584565734357,
 'Ant-Man (2015)': 1.8467095184958906,
 'Captain America: Civil War (2016)': 1.8413816602239264,
 'WALL·E (2008)': 1.838797896645903,
 'Source Code (2011)': 1.8326449956396198}

In [12]:
def update_recommendations(rec , par_rec , rec_count):
    for movie_name , pred_rating in par_rec.items():
        if movie_name not in rec:
            rec[movie_name] = pred_rating 
        else :
            rec[movie_name] += pred_rating
            if movie_name not in rec_count :
                rec_count[movie_name] = 2 
            else :
                rec_count[movie_name] += 1
    return rec , rec_count

In [13]:
my_self = [("Interstellar (2014)",5),("Avengers, The (2012)",4),("Inception (2010)",5)]

final_recommendations = {}
recommendation_count = {}

for movie,rating in my_self:
    par_rec = get_similar(movie,rating)
    final_recommendations , recommendation_count = update_recommendations(final_recommendations , par_rec , recommendation_count)

for movie_name, _ in my_self :
    del final_recommendations[movie_name]
    del recommendation_count[movie_name]

In [14]:
for movie_name , count in recommendation_count.items():
    final_recommendations[movie_name] /= count

In [15]:
final_recommendations

{'Django Unchained (2012)': 2.3578674055233577,
 'Edge of Tomorrow (2014)': 2.2982290456192525,
 'Dark Knight Rises, The (2012)': 2.548585459291473,
 'The Imitation Game (2014)': 2.3512129641431487,
 'Deadpool (2016)': 2.1683434769948478,
 'The Martian (2015)': 2.1505022025036924,
 'Grand Budapest Hotel, The (2014)': 2.4558961434163047,
 'Guardians of the Galaxy (2014)': 2.4513376686647836,
 'Mad Max: Fury Road (2015)': 2.233940101720667,
 'Whiplash (2014)': 2.4163156892917628,
 'The Revenant (2015)': 2.3860058625491627,
 'Big Hero 6 (2014)': 2.1638520155272953,
 'Cloud Atlas (2012)': 2.3222939781673646,
 'Gone Girl (2014)': 2.2990962669485664,
 'Up (2009)': 2.277193900250879,
 'Ex Machina (2015)': 2.2246439302913927,
 'Iron Man (2008)': 2.343715076702173,
 'Snowpiercer (2013)': 2.1704151500932243,
 'Gravity (2013)': 2.1702569647928076,
 'Prometheus (2012)': 2.114473810523434,
 'Dark Knight, The (2008)': 2.3853659467280197,
 'Captain America: The First Avenger (2011)': 2.2279001938750502,
 'The Lego Movie (2014)': 2.014115014699602,
 'Shutter Island (2010)': 2.4285674865047184,
 'Life of Pi (2012)': 2.067503717029518,
 'Avengers: Age of Ultron (2015)': 2.2120341551067555,
 'Inside Out (2015)': 1.9610820844726096,
 '10 Cloverfield Lane (2016)': 2.0159400415586415,
 "World's End, The (2013)": 2.014398587380246,
 'Wolf of Wall Street, The (2013)': 2.0123490755432956,
 'The Hateful Eight (2015)': 1.9972406264360334,
 'Kingsman: The Secret Service (2015)': 1.9878822843812307,
 'Star Wars: Episode VII - The Force Awakens (2015)': 2.0619050863553436,
 'Looper (2012)': 1.984496116341261,
 'The Hunger Games (2012)': 1.9886132379951338,
 'Arrival (2016)': 1.937257953968024,
 'Oblivion (2013)': 1.9058919805942458,
 '21 Jump Street (2012)': 1.902274368091731,
 'Captain America: The Winter Soldier (2014)': 2.1770711733079913,
 'Birdman: Or (The Unexpected Virtue of Ignorance) (2014)': 1.8850992149429944,
 'Elysium (2013)': 1.879017150306632,
 'Inglourious Basterds (2009)': 2.3670356024354304,
 'Social Network, The (2010)': 2.1565411550944114,
 'Ant-Man (2015)': 2.0142804690883733,
 'Captain America: Civil War (2016)': 1.9422967036433798,
 'WALL·E (2008)': 2.0912219580309563,
 'Source Code (2011)': 1.9846091246585984,
 'Iron Man 2 (2010)': 2.441492383770351,
 'X-Men: First Class (2011)': 2.247718423990036,
 'Iron Man 3 (2013)': 2.413438639355549,
 'X-Men: Days of Future Past (2014)': 2.3946211798655326,
 'Thor (2011)': 2.3447185473143213,
 'Sherlock Holmes: A Game of Shadows (2011)': 2.058063766811914,
 'Sherlock Holmes (2009)': 2.2179574897373433,
 'Star Trek Into Darkness (2013)': 2.0922422130677996,
 'Skyfall (2012)': 2.1410569022042285,
 'Thor: The Dark World (2013)': 2.0544003753377096,
 'Hobbit: An Unexpected Journey, The (2012)': 2.039977614101613,
 'How to Train Your Dragon (2010)': 2.0079958999597594,
 'Avatar (2009)': 2.0722947043300954,
 'Harry Potter and the Deathly Hallows: Part 1 (2010)': 1.991285562428568,
 'Man of Steel (2013)': 1.9692737822501005,
 'Despicable Me (2010)': 1.9198021507699525,
 'Watchmen (2009)': 2.008336998956228,
 'Rogue One: A Star Wars Story (2016)': 1.9153665344066162,
 'District 9 (2009)': 2.001841246320903,
 'Scott Pilgrim vs. the World (2010)': 2.094901161450513,
 'Star Trek (2009)': 1.9134846122190519,
 'Harry Potter and the Deathly Hallows: Part 2 (2011)': 1.8774248431493255,
 'Tron: Legacy (2010)': 1.8708805686707795,
 'Toy Story 3 (2010)': 1.9521175611089994,
 'How to Train Your Dragon 2 (2014)': 1.7773783058811543,
 'Brave (2012)': 1.7733186530706886,
 'Amazing Spider-Man, The (2012)': 1.7716228929027684,
 'Departed, The (2006)': 2.4032782653304525,
 'Fight Club (1999)': 2.3733156203708035,
 'Hangover, The (2009)': 2.3131934235857594,
 'Gran Torino (2008)': 2.2610270723585186,
 'Prestige, The (2006)': 2.2408631547389573,
 'Lord of the Rings: The Return of the King, The (2003)': 2.1896850145735938,
 'Kick-Ass (2010)': 2.1521263952047,
 'Hurt Locker, The (2008)': 2.0605091650082845,
 'Zombieland (2009)': 2.0515131229037373,
 'Girl with the Dragon Tattoo, The (2011)': 2.044779927690475,
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)": 1.9821274672540032,
 'Slumdog Millionaire (2008)': 1.9759988150794934,
 'V for Vendetta (2006)': 1.9735236431888588,
 'Lord of the Rings: The Fellowship of the Ring, The (2001)': 1.9682700286459551,
 'Lord of the Rings: The Two Towers, The (2002)': 1.960976912960437,
 'Batman Begins (2005)': 1.9576832268608577,
 'In Bruges (2008)': 1.952159125434395,
 'Drive (2011)': 1.9346329656856456}